<div class="slider-wrapper">

    <div class="arc arc-left">
        <img class="left-arc-front"
            src="https://promotion.betlive.com/public/50SlotCashback/assets/img/slider/arc_left_border1.png">
        <img class="left-arc-middle"
            src="https://promotion.betlive.com/public/50SlotCashback/assets/img/slider/arc_left_bg.png">
        <img class="left-arc-back"
            src="https://promotion.betlive.com/public/50SlotCashback/assets/img/slider/arc_left_border2.png">
    </div>

    <div class="arrow arrow-left" (click)="slideLeft()"></div>

    <div class="slides">
        <div id="element-4" class="card-hidden">
            <div class="card">
                <div class="card-header">
                    <span>4 იანვარი</span>
                </div>
                <div class="card-body">
                    <span>რამე ტექსტი</span>
                </div>
            </div>
        </div>
        <div id="element-3" class="card-hidden">
            <div class="card">
                <div class="card-header">
                    <span>4 იანვარი</span>
                </div>
                <div class="card-body">
                    <span>რამე ტექსტი</span>
                </div>
            </div>
        </div>
        <div id="element-2" class="card-hidden">
            <div class="card">
                <div class="card-header">
                    <span>4 იანვარი</span>
                </div>
                <div class="card-body">
                    <span>რამე ტექსტი</span>
                </div>
            </div>
        </div>
        <div id="element-1" class="card-vissible card-vissible-left">
            <div class="card">
                <div class="card-header">
                    <span>4 იანვარი</span>
                </div>
                <div class="card-body">
                    <span>რამე ტექსტი</span>
                </div>
            </div>
        </div>
        <div id="element0" class="card-vissible">
            <div class="card-header">
                <span>5 იანვარი</span>
            </div>
            <div class="card-body">
                <span>რამე ტექსტი</span>
            </div>
        </div>
        <div id="element1" class="card-vissible card-vissible-right">
            <div class="card">
                <div class="card-header">
                    <span>6 იანვარი</span>
                </div>
                <div class="card-body">
                    <span>რამე ტექსტი</span>
                </div>
            </div>
        </div>
        <div id="element2" class="card-hidden">
            <div class="card">
                <div class="card-header">
                    <span>4 იანვარი</span>
                </div>
                <div class="card-body">
                    <span>რამე ტექსტი</span>
                </div>
            </div>
        </div>
        <div id="element3" class="card-hidden">
            <div class="card">
                <div class="card-header">
                    <span>4 იანვარი</span>
                </div>
                <div class="card-body">
                    <span>რამე ტექსტი</span>
                </div>
            </div>
        </div>
        <div id="element4" class="card-hidden">
            <div class="card">
                <div class="card-header">
                    <span>4 იანვარი</span>
                </div>
                <div class="card-body">
                    <span>რამე ტექსტი</span>
                </div>
            </div>
        </div>
    </div>

    <div class="arrow arrow-right" (click)="slideRight()"></div>

    <div class=" arc arc-right">
        <img class="right-arc-front"
            src="https://promotion.betlive.com/public/50SlotCashback/assets/img/slider/arc_right_border1.png">
        <img class="right-arc-middle"
            src="https://promotion.betlive.com/public/50SlotCashback/assets/img/slider/arc_right_bg.png">
        <img class="right-arc-back"
            src="https://promotion.betlive.com/public/50SlotCashback/assets/img/slider/arc_right_border2.png">
    </div>

    <img class="slider-bottom" src="../../../assets/images/carousel/bottomImage.png" alt="">
</div>