<img class="headerImage" src="../../../assets/images/cashbackInfo/headImage.png" alt="HeaderImage">

<div class="cashbackInfo">
    <div class="cash-text">
        <span>
            {{"get" | translate}} <span class="colored">{{"guaranteed 10%" | translate}}</span> {{"with cashback" |
            translate}}
        </span>

        <span>{{"increase" | translate}}</span>
    </div>
    <div class="cash-box">
        <div class="box-first">
            <span class="top">{{"Bet every day" | translate}}</span>
            <span class="bottom">200₾</span>
        </div>
        <div class="equals">
            <img src="../../../assets/images/cashbackInfo/equal.png" alt="equal image">
        </div>
        <div class="box-second">
            <span class="bottom">+1%</span>
            <span class="top">{{"cashback" | translate}}</span>
        </div>
    </div>
</div>