// .steps {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;

//   .step1,
//   .step2,
//   .step3 {
//     position: relative;
//     height: 77px;
//     text-align: left;
//     display: inline-flex;
//     align-items: center;
//     font-size: 16px;
//     padding: 0 30px;
//     margin: 0 1vw;
//     background-color: #fff;
//     color: #240130;
//     transform: translateY(14px);
//     border-radius: 5px 5px 0 0;

//     img {
//       align-self: center;
//       margin-right: 15px;
//     }

//     span {
//       font-weight: bold;
//       color: #1c1f4c;
//       font-size: 16px;
//     }
//   }

//   .step:after {
//     content: "";
//     position: absolute;
//     right: 0;
//     bottom: 0;
//     width: 0;
//     height: 0;
//     clear: both;
//     border-top: 9px solid #b2b2b2;
//   }

//   .step1:after {
//     right: -14px;
//     border-right: 14px solid transparent;
//   }

//   .step3:after {
//     left: -14px;
//     border-left: 14px solid transparent;
//   }
// }

// @media (max-width: 992px) {
//   .steps {
//     width: fit-content;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;

//     .step {
//       margin: 5px 0;
//     }

//     .step:after {
//       content: none;
//     }

//     .step1,
//     .step2,
//     .step3 {
//       width: 100%;
//       border-radius: 5px;
//     }
//   }
// }

:host {
  position: relative;
  width: fit-content;
  margin: 80px 10px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.102);

  cursor: default;
}

.steps {
  width: 100%;
  height: 88px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;

  .step {
    min-height: 77px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 30px;
    margin: 0 1vw;
    transform: translateY(14px);
    border-radius: 5px 5px 0 0;
    color: #240130;
    background-color: #fff;

    img {
      margin-right: 15px;
    }

    span {
      font-weight: bold;
      color: #1c1f4c;
      font-size: 16px;
    }
  }

  .step::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    clear: both;
    border-top: 9px solid #b2b2b2;
  }

  .step-first::after {
    right: -14px;
    border-right: 14px solid transparent;
  }

  .step-third::after {
    left: -14px;
    border-left: 14px solid transparent;
  }
}

@media (max-width: 768px) {
  .steps {
    width: fit-content;
    height: auto;
    margin-top: 26px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    .step {
      display: flex;
      width: 100%;
      margin: 5px 0;
      border-radius: 5px;
      transform: translateY(0);
    }

    .step-first::after {
      content: none;
    }

    .step-third::after {
      content: none;
    }
  }
}

@media (max-width: 576px) {
  :host {
    margin: 30px 10px;
  }
}
