<div class="steps">
    <div class="step step-first">
        <img src="./assets/images/steps/slots-machine.png" alt="Slots machine">
        <span>{{ 'spin slot' | translate }}</span>
    </div>
    <div class="step step-second">
        <img src="./assets/images/steps/polygon.png" alt="Polygon">
        <span>{{ 'raise feedback' | translate }}</span>
    </div>
    <div class="step step-third">
        <img src="./assets/images/steps/coin-stack.png" alt="Coin stack">
        <span>{{ 'money back' | translate }}</span>
    </div>
</div>