.container,
.container-fluid {
  margin-top: 100px;

  .cashbackLogo {
    img {
      width: 50%;
      height: auto;
    }
  }
}

@media (max-width: 992px) {
  .container,
  .container-fluid {
    margin-top: 70px;
  }
}

@media (max-width: 768px) {
  .container,
  .container-fluid {
    margin-top: 60px;
  }
}

@media (max-width: 576px) {
  .container,
  .container-fluid {
    margin-top: 50px;
  }
}
